<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Layout</title>
</head>

<body>
    <div class="wrapper">
        <div class="promo">Get 10% Off Your First Order with Code WELCOME10</div>
        <header>
            <div class="header_image"></div>
            <div class="header_search"></div>
            <div class="header_search_decoration">
                <div class="header_search_decoration_img"></div>
            </div>
            <div id="header_basket"></div>
        </header>
        <section class="section1">
            <a class="section1_link">Shop NEW Summer Collection!</a>
        </section>
        <section class="section2">
            <h1>We Make Feeling Comfortable in Your Own Skin Natural</h1>
            <div class="section2_text">Kal Hans symbolizes transformation. Let's celebrate what makes you unique with
                our 100% all Natural, Vegan, Luxury skincare line, getting you one step closer to being your best self.
            </div>
        </section>
        <section class="section3">
            <div class="section3_header">The Skincare Essentials</div>
            <div class="section3_area">
                <div class="section3_area_item item1"><a href="#">Hydrating Rose Petal Face Mist</a></div>
                <div class="section3_area_item item2"><a href="##">Rejuvenation & Repair Night Serum</a></div>
                <div class="section3_area_item item3"><a href="###">Kansa Wand</a></div>
                <div class="section3_area_item item4">
                    <div class="img4"></div>
                    <a href="####">Aloe Cucumber Mist</a>
                </div>
                <div class="section3_area_item item5">
                    <div class="img5"></div>
                    <a href="#####">Skin Brightening Under Eye Cream</a>
                </div>
                <div class="section3_area_item item6">
                    <div class="img6"></div>
                    <a href="#######">Daily Moisture Sun Protection Lotion</a>
                </div>
            </div>
        </section>
    </div>
</body>

</html>